@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-start;
  }
  
  .flex-end {
    @apply flex justify-end items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  .section-intro{
    @apply py-16 px-4;
  }
 
  
 .slick-slider{
  position: static!important;
  
 }

 .slick-dots{
  position: static!important;
  
  display: flex!important;
  justify-content: center;
 
 }

.slick-dots li{
  margin-right: 10px!important;
}
.slick-dots li button{
  color: #cf278d!important;
}

.slick-dots li button::before{
  font-family: 'slick';
  font-size: 0px!important;
  background-color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  border-radius:30px;
  height: 10px!important;
  content: '•';
  text-align: center;
  opacity: 1!important;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:  .5s;
}
.slick-dots li.slick-active button::before{
  font-size: 0!important;
  opacity:1!important;
  width:30px!important;
  border-radius: 30px;
  background-color: #cf278d;
}

.wave{
  border-radius: 100%;
  animation-name: btnWave;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes btnWave {
  0% {
      box-shadow: 0 0 0 0 #5468ffae, 0 0 0 0 #5468ffae;
  }

  80% {
      box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
  }

  100% {
      box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
  }
}

@media only screen and (max-width: 900px){
  .slick-slider .slick-list{

    margin-bottom: 30px!important;
  }
}

